mysqldump : mysqldump: Error: 'Access denied; you need (at least one of) the PROCESS privilege(s) for this operation' when trying to dump table
spaces
所在位置 行:1 字符: 34
+ ... ayoua666.'; mysqldump -u root volunteer --no-create-info --complete-i ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysqldump: Erro...ump tablespaces:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: volunteer
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `activity`
--

LOCK TABLES `activity` WRITE;
/*!40000 ALTER TABLE `activity` DISABLE KEYS */;
INSERT INTO `activity` (`id`, `title`, `description`, `location`, `start_time`, `end_time`, `capacity`, `checkin_code`, `created_at`, `updated_at`) VALUES (6,'情暖三湘·志愿同行','聚焦老年人尤其是空巢、独居老人的“急难愁盼”问题，依托敬老院、养老院等阵地，开展慰问陪护、清洁卫生、代购代办、安全取暖、医疗保健、家电维修、科技助老等志愿服务，帮助老人共享发展成果、安享幸福晚年。','敬老院、养老院等','2026-01-01 00:00:00','2026-01-02 00:00:00',50,'382388','2025-12-29 15:10:14','2025-12-29 15:10:14');
/*!40000 ALTER TABLE `activity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `activity_checkin_log`
--

LOCK TABLES `activity_checkin_log` WRITE;
/*!40000 ALTER TABLE `activity_checkin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_checkin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `activity_reminder_log`
--

LOCK TABLES `activity_reminder_log` WRITE;
/*!40000 ALTER TABLE `activity_reminder_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_reminder_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `activity_signup`
--

LOCK TABLES `activity_signup` WRITE;
/*!40000 ALTER TABLE `activity_signup` DISABLE KEYS */;
INSERT INTO `activity_signup` (`id`, `activity_id`, `volunteer_id`, `status`, `checkin_time`, `checked_in`, `created_at`) VALUES (13,6,16,'applied',NULL,0,'2025-12-29 15:43:53');
/*!40000 ALTER TABLE `activity_signup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `alert_silence`
--

LOCK TABLES `alert_silence` WRITE;
/*!40000 ALTER TABLE `alert_silence` DISABLE KEYS */;
INSERT INTO `alert_silence` (`id`, `group_name`, `channel`, `start_time`, `end_time`, `enabled`, `created_at`, `updated_at`) VALUES (1,'test-group','email','2025-12-28 00:00:00','2025-12-29 00:00:00',1,'2025-12-28 16:14:51','2025-12-28 16:14:51');
/*!40000 ALTER TABLE `alert_silence` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `alert_subscription`
--

LOCK TABLES `alert_subscription` WRITE;
/*!40000 ALTER TABLE `alert_subscription` DISABLE KEYS */;
/*!40000 ALTER TABLE `alert_subscription` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `broadcast_job`
--

LOCK TABLES `broadcast_job` WRITE;
/*!40000 ALTER TABLE `broadcast_job` DISABLE KEYS */;
INSERT INTO `broadcast_job` (`id`, `title`, `media_id`, `content_id`, `target_group`, `target_terminal_code`, `start_time`, `end_time`, `status`, `priority`, `queue_mode`) VALUES (7,'紧急通知',13,NULL,NULL,NULL,'2025-12-25 00:00:00','2025-12-26 00:00:00','scheduled',0,'queue'),(15,'活动预告',NULL,7,NULL,NULL,'2026-01-02 00:00:00','2026-01-03 00:00:00','scheduled',9,'interrupt');
/*!40000 ALTER TABLE `broadcast_job` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `content_config`
--

LOCK TABLES `content_config` WRITE;
/*!40000 ALTER TABLE `content_config` DISABLE KEYS */;
INSERT INTO `content_config` (`id`, `recommend_interval_sec`, `preview_interval_sec`, `updated_at`, `recommend_count`, `recommend_strategy`) VALUES (1,6,10,'2025-12-29 16:08:53',10,'weight_only');
/*!40000 ALTER TABLE `content_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `content_item`
--

LOCK TABLES `content_item` WRITE;
/*!40000 ALTER TABLE `content_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `content_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `layout`
--

LOCK TABLES `layout` WRITE;
/*!40000 ALTER TABLE `layout` DISABLE KEYS */;
INSERT INTO `layout` (`id`, `name`, `layout_json`, `created_at`, `updated_at`) VALUES (3,'左右分屏','{\"areas\":[{\"x\":0,\"y\":0,\"w\":50,\"h\":100},{\"x\":50,\"y\":0,\"w\":50,\"h\":100}]}',NULL,NULL),(4,'单屏全屏','{\"areas\":[{\"x\":0,\"y\":0,\"w\":100,\"h\":100}]}',NULL,NULL),(7,'上下分屏','{\"areas\":[{\"x\":0,\"y\":0,\"w\":100,\"h\":50},{\"x\":0,\"y\":50,\"w\":100,\"h\":50}]}',NULL,NULL);
/*!40000 ALTER TABLE `layout` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `layout_area_pool`
--

LOCK TABLES `layout_area_pool` WRITE;
/*!40000 ALTER TABLE `layout_area_pool` DISABLE KEYS */;
INSERT INTO `layout_area_pool` (`id`, `layout_id`, `area_index`, `media_id`, `content_id`, `display_duration`, `sort_order`, `created_at`, `updated_at`) VALUES (2,3,1,14,NULL,15,0,'2025-12-29 10:09:51','2025-12-29 10:09:51'),(3,3,1,NULL,1,20,1,'2025-12-29 10:09:51','2025-12-29 10:09:51'),(10,3,0,13,NULL,10,0,'2025-12-29 10:33:49','2025-12-29 10:33:49');
/*!40000 ALTER TABLE `layout_area_pool` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `layout_template`
--

LOCK TABLES `layout_template` WRITE;
/*!40000 ALTER TABLE `layout_template` DISABLE KEYS */;
INSERT INTO `layout_template` (`id`, `name`, `description`, `layout_json`, `tags`, `cover_url`, `builtin`, `created_at`, `updated_at`) VALUES (9,'HistoryTest','Test history feature','{\"areas\":[{\"x\":0,\"y\":0,\"w\":100,\"h\":100}]}','test',NULL,0,'2025-12-29 11:35:11','2025-12-29 11:36:07');
/*!40000 ALTER TABLE `layout_template` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `layout_template_history`
--

LOCK TABLES `layout_template_history` WRITE;
/*!40000 ALTER TABLE `layout_template_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `layout_template_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `media_asset`
--

LOCK TABLES `media_asset` WRITE;
/*!40000 ALTER TABLE `media_asset` DISABLE KEYS */;
INSERT INTO `media_asset` (`id`, `name`, `type`, `url`, `thumb_url`, `size_bytes`, `duration_seconds`, `width`, `height`, `checksum`, `created_at`, `bitrate_kbps`, `frame_rate`) VALUES (12,'图书馆志愿活动介绍视频来咯！来一起做志愿活动吧！.mp4','video','/uploads/a6572912-0cdc-4e91-975c-318f2e708001.mp4','/uploads/thumbs/thumb-23e74022-d5c6-4a0c-b56a-1e26782e7304.png',8401576,NULL,NULL,NULL,NULL,'2025-12-25 14:24:42',NULL,NULL),(13,'志愿者招募令.jpg','image','/uploads/740c0cde-7eb9-498a-b9b3-ec79a72b0323.jpg',NULL,398366,NULL,NULL,NULL,NULL,'2025-12-25 14:25:43',NULL,NULL);
/*!40000 ALTER TABLE `media_asset` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `menu_category`
--

LOCK TABLES `menu_category` WRITE;
/*!40000 ALTER TABLE `menu_category` DISABLE KEYS */;
INSERT INTO `menu_category` (`id`, `name`, `code`, `parent_id`, `sort_order`) VALUES (1,'文明XX','wenming',NULL,0),(2,'XX志愿者APP','app',NULL,0),(3,'XX志愿者网','web',NULL,0),(4,'雷锋热线','leifeng',NULL,0),(5,'公益活动','gongyi',NULL,0),(6,'公益广告','ad',NULL,0);
/*!40000 ALTER TABLE `menu_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `notification_channel_config`
--

LOCK TABLES `notification_channel_config` WRITE;
/*!40000 ALTER TABLE `notification_channel_config` DISABLE KEYS */;
INSERT INTO `notification_channel_config` (`id`, `channel`, `config_json`, `enabled`, `created_at`, `updated_at`) VALUES (1,'sms','{\"apiKey\":\"test-sms-key\",\"apiSecret\":\"test-secret\"}',1,'2025-12-28 17:17:44','2025-12-28 17:17:44'),(2,'email','{\"smtpHost\":\"smtp.example.com\",\"smtpPort\":587,\"username\":\"test@example.com\"}',1,'2025-12-28 17:17:52','2025-12-28 17:17:52');
/*!40000 ALTER TABLE `notification_channel_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `notification_log`
--

LOCK TABLES `notification_log` WRITE;
/*!40000 ALTER TABLE `notification_log` DISABLE KEYS */;
INSERT INTO `notification_log` (`id`, `channel`, `target`, `title`, `content`, `status`, `created_at`, `retry_count`, `max_retries`, `next_retry_at`, `error_message`, `provider_message_id`, `updated_at`) VALUES (1,'sms','13900001111','测试标题','这是测试内容','abandoned','2025-12-28 17:18:07',3,3,'2025-12-28 17:27:14','短信接口未配置',NULL,'2025-12-28 22:32:36');
/*!40000 ALTER TABLE `notification_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `operation_log`
--

LOCK TABLES `operation_log` WRITE;
/*!40000 ALTER TABLE `operation_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `operation_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `playlist`
--

LOCK TABLES `playlist` WRITE;
/*!40000 ALTER TABLE `playlist` DISABLE KEYS */;
INSERT INTO `playlist` (`id`, `name`, `description`, `cover_url`, `created_at`, `updated_at`, `layout_id`) VALUES (8,'社区宣传轮播','志愿者招募和支援活动招募','/uploads/740c0cde-7eb9-498a-b9b3-ec79a72b0323.jpg','2025-12-25 14:29:28','2025-12-29 14:14:36',3);
/*!40000 ALTER TABLE `playlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `playlist_item`
--

LOCK TABLES `playlist_item` WRITE;
/*!40000 ALTER TABLE `playlist_item` DISABLE KEYS */;
INSERT INTO `playlist_item` (`id`, `playlist_id`, `media_id`, `content_id`, `display_duration`, `sort_order`, `area_index`) VALUES (19,8,13,NULL,10,0,0),(20,8,NULL,7,15,1,0);
/*!40000 ALTER TABLE `playlist_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `portal_message_read`
--

LOCK TABLES `portal_message_read` WRITE;
/*!40000 ALTER TABLE `portal_message_read` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_message_read` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
INSERT INTO `role` (`id`, `code`, `name`, `description`) VALUES (1,'ADMIN','管理员','系统管理员，可访问管理后台'),(2,'VOLUNTEER','志愿者','志愿者用户，可访问志愿者端');
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `terminal`
--

LOCK TABLES `terminal` WRITE;
/*!40000 ALTER TABLE `terminal` DISABLE KEYS */;
INSERT INTO `terminal` (`id`, `code`, `name`, `group_name`, `status`, `last_heartbeat`, `attributes`, `created_at`, `updated_at`) VALUES (3,'device-001','社区大屏','大厅','offline','2025-12-28 22:33:26',NULL,'2025-12-25 14:32:06','2025-12-29 08:44:26'),(4,'device-002','活动现场屏幕','室外','offline','2025-12-28 22:33:33',NULL,'2025-12-25 14:32:33','2025-12-29 08:44:26'),(5,'device-003','社区电视','大厅','offline','2025-12-25 15:39:56',NULL,'2025-12-25 15:39:56','2025-12-25 16:58:48');
/*!40000 ALTER TABLE `terminal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `terminal_alert_history`
--

LOCK TABLES `terminal_alert_history` WRITE;
/*!40000 ALTER TABLE `terminal_alert_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `terminal_alert_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `terminal_group_rule`
--

LOCK TABLES `terminal_group_rule` WRITE;
/*!40000 ALTER TABLE `terminal_group_rule` DISABLE KEYS */;
/*!40000 ALTER TABLE `terminal_group_rule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `terminal_heartbeat`
--

LOCK TABLES `terminal_heartbeat` WRITE;
/*!40000 ALTER TABLE `terminal_heartbeat` DISABLE KEYS */;
INSERT INTO `terminal_heartbeat` (`id`, `terminal_id`, `status`, `created_at`) VALUES (1,3,'offline','2025-12-25 14:32:06'),(2,4,'offline','2025-12-25 14:32:33'),(3,5,'offline','2025-12-25 15:39:56'),(4,3,'offline','2025-12-28 16:16:21'),(5,3,'offline','2025-12-28 22:33:26'),(6,4,'offline','2025-12-28 22:33:33');
/*!40000 ALTER TABLE `terminal_heartbeat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `terminal_playlist`
--

LOCK TABLES `terminal_playlist` WRITE;
/*!40000 ALTER TABLE `terminal_playlist` DISABLE KEYS */;
INSERT INTO `terminal_playlist` (`id`, `terminal_id`, `playlist_id`, `start_time`, `end_time`, `active`) VALUES (5,1,1,NULL,NULL,1),(6,1,1,'2025-12-25 00:00:00','2025-12-31 23:59:59',1),(7,3,8,'2025-12-01 00:00:00','2025-12-31 23:59:59',1),(8,3,8,'2025-12-31 00:00:00','2026-01-01 00:00:00',1);
/*!40000 ALTER TABLE `terminal_playlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` (`id`, `username`, `password`, `nickname`, `role_code`, `enabled`, `created_at`, `updated_at`) VALUES (1,'admin','$2a$10$z/YRhCxrFtHwHkDHjNbEeeM4oMhPszzZSgPokP7qzX0WhonkfWKSO','管理员','ADMIN',1,'2025-12-24 10:43:22','2025-12-25 17:08:24'),(6,'18890470633','$2a$10$tNtSfw1UxRW1JuQLRywFI..CEYgsF5ya9U4swpEcOi1Zkd7Fs4.Cm','xly1236','VOLUNTEER',1,'2025-12-29 14:18:48','2025-12-30 09:45:46'),(7,'13594139132','$2a$10$SJGtvzcuu5JoxPUETWyUneHgMj0zeQO97G4y20LoawL9f0ogeu3dy','hjw','VOLUNTEER',1,'2025-12-29 14:27:18','2025-12-29 14:48:54');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `user_role`
--

LOCK TABLES `user_role` WRITE;
/*!40000 ALTER TABLE `user_role` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `volunteer`
--

LOCK TABLES `volunteer` WRITE;
/*!40000 ALTER TABLE `volunteer` DISABLE KEYS */;
INSERT INTO `volunteer` (`id`, `user_id`, `name`, `phone`, `email`, `organization`, `id_card`, `status`, `created_at`, `updated_at`) VALUES (16,6,'xly1236','18890470633','dsafa','fdsafa',NULL,'approved','2025-12-29 14:25:29','2025-12-30 09:41:44'),(17,7,'hjw','13594139132','','',NULL,'approved','2025-12-29 14:27:18','2025-12-29 14:48:29');
/*!40000 ALTER TABLE `volunteer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `volunteer_message`
--

LOCK TABLES `volunteer_message` WRITE;
/*!40000 ALTER TABLE `volunteer_message` DISABLE KEYS */;
/*!40000 ALTER TABLE `volunteer_message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `volunteer_reminder_setting`
--

LOCK TABLES `volunteer_reminder_setting` WRITE;
/*!40000 ALTER TABLE `volunteer_reminder_setting` DISABLE KEYS */;
INSERT INTO `volunteer_reminder_setting` (`id`, `volunteer_id`, `signup_reminder`, `checkin_reminder`, `channel`, `reminder_minutes`, `created_at`, `updated_at`) VALUES (1,14,1,0,'email',60,'2025-12-28 17:18:22','2025-12-28 17:18:32'),(2,16,1,1,'sms',30,'2025-12-29 14:55:41','2025-12-29 14:55:41');
/*!40000 ALTER TABLE `volunteer_reminder_setting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `volunteer_status_log`
--

LOCK TABLES `volunteer_status_log` WRITE;
/*!40000 ALTER TABLE `volunteer_status_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `volunteer_status_log` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-30 15:14:09
